.borderer{
  align-self: start;
  border-radius: 25px;
  border: 1px solid rgb(0 0 0);
  padding: 20px;
  text-align:center;
  margin-bottom: 25px;
  box-shadow: 5px 10px #888888;
}

.textonly {
font-size: 113px;
font-weight: normal;
font-family: 'Roboto', sans-serif;
text-align: justify;
}

/*****************FRONT*****************/
p{
  font-size: 28px;
}

h1{
  font-size: 25px;
}

body{
  background-image: url("trianglify.png");
  background-size:cover
}

svg {
position: absolute;
top: -55px;
font-size: 32px;
}

svg#Layer_1{
  overflow: visible;
}

* {
    padding: 0;
    font-size: 100%;
    font-family: 'Calibri', sans-serif;
}

/*****************GRID*****************/
.grid-container {
  display: grid;
  grid-template-columns:290px 700px 200px 200px;
  grid-template-rows:auto auto auto auto 100px;
  grid-gap: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.item1 {
  grid-row: 1 / 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: inline;
  border-radius: 25px;
  border: 1px solid rgb(0 0 0);
  padding: 20px;
  text-align:center;
  box-shadow: 5px 10px #888888;
}
.item2 {
  grid-row: 2 / 3;
  grid-column-start: 1;
  grid-column-end: 2;
  display: inline;
  border-radius: 25px;
  border: 1px solid rgb(0 0 0);
  padding: 20px;
  text-align:center;
  box-shadow: 5px 10px #888888;
}

.item3 {
  grid-row: 3 / 4;
  grid-column-start: 1;
  grid-column-end: 2;
  display: inline;
  border-radius: 25px;
  border: 1px solid rgb(0 0 0);
  padding: 20px;
  text-align:center;
  box-shadow: 5px 10px #888888;
}

.item4 {
  grid-row: 4 / 5;
  grid-column-start: 1;
  grid-column-end: 2;
  display: inline;
  border-radius: 25px;
  border: 1px solid rgb(0 0 0);
  padding: 20px;
  text-align:center;
  box-shadow: 5px 10px #888888;
}

.item5 {
  grid-column-start: 3;
  grid-column-end: 4;
  display: inline;
  align-self: start;
  border-radius: 25px;
  border: 1px solid rgb(0 0 0);
  padding: 20px;
  text-align:center;
  box-shadow: 5px 10px #888888;
}
.item6 {
  grid-row: span 3;
  grid-column-start: 3;
  grid-column-end: 4;
  display: inline;
  align-self: start;
  text-align:center
}

/*****************LOGO*****************/
.hexer {
stroke-dasharray: 1920;
stroke-dashoffset: 1920;
animation: dash 3s linear forwards;
}

@keyframes dash {
to {
  stroke-dashoffset: 0;
}
}

/*****************HEXAGONS*****************/
.hexmap{
  grid-row: 1 / 6;
  grid-column-start: 2;
  grid-column-end: 3;
  display: inline-block;
  transform: translateX(-7%);
  resize: both;
}

.hexagon {
  position: relative;
  width: 240px;
  height: 138px;
  background-color: rgb(135,206,235);
  margin: 28px -8px 40px 10px;
  display: inline-block;
  cursor: pointer;
}

.hexagon.invis{
  cursor: default;
  background-color: transparent;
}

.hexagon.invis:hover{
  opacity: : 0;
  background-color: transparent;
}

.hexagon.invis:before, .hexagon.invis:after{
  border-bottom: 69px solid rgba(0,0,0,0);
  border-top: 69px solid rgba(0,0,0,0);
}

.hexagon.invis:hover:before, .hexagon.invis:hover:after{
  border-bottom: 69px solid rgba(0,0,0,0);
  border-top: 69px solid rgba(0,0,0,0);
}

.hexagon h1{
  position: absolute;
  color: #fff;
  left: 50%;
  transform: translateX(-50%)
}

/* .hexagon:hover h1{
  color: transparent;
  opacity: : 0;
  background-color: transparent;
} */

/* .hexagon:hover:before{
  border-bottom-color: rgba(0,0,0,.85);
}
.hexagon:hover:after{
  border-top-color: rgba(0,0,0,.85);
} */

/* .hexagon:hover{
  background-color: rgba(0,0,0,.85);
} */

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 69px solid rgb(135,206,235);
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 69px solid rgb(135,206,235);
}

.hexrow{
  display:block;
  position:relative;
  float: none;
  margin: 0;
}

.hexrow.other{
  margin-left: 123px;
}


/*****************HEXAGON TOOLTIP*****************/
.hexagon .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.two:hover .tooltiptext {
  visibility: visible;
  top: -5px;
  left: 105%;
}

.four:hover .tooltiptext {
  visibility: visible;
  top: -5px;
  left: 105%;
}

.six:hover .tooltiptext {
  visibility: visible;
  top: -5px;
  left: 105%;
}

.one:hover .tooltiptext {
  visibility: visible;
  top: -5px;
  right: 105%;
}

.three:hover .tooltiptext {
  visibility: visible;
  top: -5px;
  right: 105%;
}

.five:hover .tooltiptext {
  visibility: visible;
  top: -5px;
  right: 105%;
}
